h1 {
    color: blue;
}

.user {
    font-size: 20px;
    color: green;
    font-style: italic;
}

.post{
    background-color: rgb(205, 255, 206);
}

.content{
    margin: 10px;
    padding: 10px;
}